@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { @class = "navbar-right layoutBtn" }))
    {
        @Html.AntiForgeryToken()

        
            <li class="dropdown">
                <a class="btn btn-secondary layoutBtn" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    My Account
                </a>
                <div class="dropdown-menu" aria-labelledby="myAccountBtn">
                    <div class="container">
                        <a class="dropdown-item" href="#">Change Email</a>
                        <a class="dropdown-item" href="#">Change Password</a>
                        <a class="dropdown-item" href="#">My Data</a>
                    </div>
                </div>
            </li>
            <br />

            @*<li>
                    @Html.ActionLink("My Account", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage", id = "myAccountLink" })
                </li>*@
            <li><a class="layoutBtn" href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>

     
    }
}

<style>
    .layoutBtn {
        color: white;
        font-size: 19px;
        border: none;
        background: none;
        position: relative;
        margin-top: 3%;
    }


        .layoutBtn:hover {
            color: white;
            text-shadow: 0px 0px 2px white;
        }

        .layoutBtn:focus {
            outline: none;
        }
</style>