@{
    ViewBag.Title = "Graph Parameters";
    Layout = "~/Views/Shared/_LayoutPortal.cshtml";
}
<button class="btn btn-warning" onclick="location.href='@Url.Action("MyPortal", "Home")'">User Portal</button>
<div class="container customCont" id="countiesListCont">
    <h2 class="title">Select County</h2>
    <br />
    <div class="container" id="countiesList">
        <div class="row">
            <a class="menuBtn" href="@Url.Action("Graphs", "Graphs", new { countyName = "", periodId=1 })">All counties</a>
        </div>
        @foreach (var county in ViewBag.countiesDD)
        {
            <div class="row">
                <a class="menuBtn" href="@Url.Action("Graphs", "Graphs", new { countyName = county, periodId=1 })">@county</a>
            </div>
        }
    </div>
</div>
