@{
    ViewBag.Title = "Home Page";
}
<br /><br />
  
      <div class="col-lg-4">
          <div class="row">
              <img src="~/Content/Images/logo.png" class="con" />
          </div>
         
          <div class="row">
              <div class="container con" style="float:left">                  
                  <p style="text-align:justify; color:white">
                      Crimewatch was first broadcast on 7 June 1984, and is based on the German TV show Aktenzeichen XY … ungelöst (which translates as File Reference XY … Unsolved). Nick Ross and Sue Cook presented the show for the first 11 years, until Cook's departure in June 1995. Cook was replaced by Jill Dando. After Dando was murdered in April 1999, Ross hosted Crimewatch alone until January 2000 when Fiona Bruce subsequently joined the show.[1]
                  </p>
                  <br>
              </div>
          </div>
      </div>

        <div class="col-lg-8">
           <br />
             <img src="~/Content/Images/map.png" style="width:800px; height:385px; border:2px solid lightblue;"/>
                
       
        </div>
   


<div class="row">
    <div class="col-lg-6">
       
    </div>

</div>

<style>
    .con {
        border: 2px solid black;
        width: 300px;
    }

</style>