@{
    ViewBag.Title = "Home Page";
}
@model List<CrimeWatch.Models.Police_Department>

<br /><br />
<br /><br />

<br />
<div class="row cont">
    <div class="col-lg-6">
        <img src="~/Content/Images/map.png" id="bigLogo" />
    </div>
    <div class="col-lg-6" style="text-align:center">
        <img src="~/Content/Images/logo.png" style="height:200px; width:360px; margin-top:6%" />
    </div>
</div>


<div class="row infoCont" id="one">
    <div class="col-lg-6">
        <h2>What is CrimeWatch?</h2>
        <br />
        <h4>
            Crimewatch (formerly Crimewatch UK) was a British television programme produced by the BBC, that reconstructs major unsolved crimes in order to gain information from the public which may assist in solving the case. The programme was originally broadcast once a month on BBC One, although in more recent years it was usually broadcast roughly once every two months.

            Crimewatch was first broadcast on 7 June 1984, and is based on the German TV show Aktenzeichen XY … ungelöst (which translates as File Reference XY … Unsolved). Nick Ross and Sue Cook presented the show for the first 11 years, until Cook's departure in June 1995. Cook was replaced by Jill Dando. After Dando was murdered in April 1999, Ross hosted Crimewatch alone until January 2000 when Fiona Bruce subsequently joined the show.[1]
        </h4>
        <br /><br />
    </div>    
</div>

<div class="row infoCont" id="two">
    <div class="col-lg-6">
        <h2>How does it work ?</h2>
        <br />
        <h4>
            Crimewatch (formerly Crimewatch UK) was a British television programme produced by the BBC, that reconstructs major unsolved crimes in order to gain information from the public which may assist in solving the case. The programme was originally broadcast once a month on BBC One, although in more recent years it was usually broadcast roughly once every two months.

            Crimewatch was first broadcast on 7 June 1984, and is based on the German TV show Aktenzeichen XY … ungelöst (which translates as File Reference XY … Unsolved). Nick Ross and Sue Cook presented the show for the first 11 years, until Cook's departure in June 1995. Cook was replaced by Jill Dando. After Dando was murdered in April 1999, Ross hosted Crimewatch alone until January 2000 when Fiona Bruce subsequently joined the show.[1]
        </h4>
        <br /><br />
    </div>
</div>

<div class="row infoCont" id="three">
    <div class="col-lg-6">
        <h2>FAQ's</h2>
        <br />
        <h4>
            Crimewatch (formerly Crimewatch UK) was a British television programme produced by the BBC, that reconstructs major unsolved crimes in order to gain information from the public which may assist in solving the case. The programme was originally broadcast once a month on BBC One, although in more recent years it was usually broadcast roughly once every two months.

            Crimewatch was first broadcast on 7 June 1984, and is based on the German TV show Aktenzeichen XY … ungelöst (which translates as File Reference XY … Unsolved). Nick Ross and Sue Cook presented the show for the first 11 years, until Cook's departure in June 1995. Cook was replaced by Jill Dando. After Dando was murdered in April 1999, Ross hosted Crimewatch alone until January 2000 when Fiona Bruce subsequently joined the show.[1]
        </h4>
        <br /><br />
    </div>
</div>

<div id='footer'>
    <br />
    <address>
        24A Guildford Park road<br />
        Guildford, United Kingdom, GU2 7ND<br />
        <strong>Tel:</strong> <a href="#">+44 7482868848</a><br />
        <strong>Email:</strong> <a href="mailto:support@crimewatch.com">Support@example.com</a><br />
    </address>
</div>

<style>
    #footer {
        position: absolute;
        height: auto;
        left: 0;
        background: #242729;
        width: 100%;
        text-align: center;
        font-size: 16px;
        color: #fff;
        margin-top: 130px;
        border-top: 2px solid lightgray;
    }

    .cont {
        margin-top: 3%;
        position: relative;
        background: black;
        opacity: 0.9;
        border: 1px solid lightgray;
        box-shadow: rgb(136, 136, 136) 3px 3px 10px;
        border: 1px solid rgb(153, 153, 153);
    }

    #bigLogo {
        margin-top: 10%;
        margin-bottom: 10%;
        width: 500px;
        height: 250px;
        margin-left: 10%;
    }

    .infoCont {
        color: black;
        text-align: justify;
        position: relative;
        box-shadow: rgb(136, 136, 136) 3px 3px 10px;
        border: 1px solid rgb(153, 153, 153);
        background: rgb(255, 255, 255) none repeat scroll 0% 0%;
    }

    #one {
        margin-top: 100px;
    }

    #two {
        margin-top: 100px;
    }

    #three {
        margin-top: 100px;
    }

</style>