@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model List<CrimeWatch.Models.PoliceDepartment>
<body onload="startTimer()">
    <br /><br />
    <br /><br />

    <div class="container" id="homeMainCont">
        <div class="col-lg-6">
            <img src="~/Content/Images/img1.png" id="img1" class="homepageImage" />
            <br /><br />
            <form style="margin-left:50%">
                <input name="field" type="radio" id="radioBtn1" class="radioBtn">
                <input name="field" type="radio" id="radioBtn2" class="radioBtn">
                <input name="field" type="radio" id="radioBtn3" class="radioBtn">
            </form>
        </div>
        <div class="col-lg-6">
            <div class="container" style="width:420px;">
                <img id="logo" src="~/Content/Images/logo.png" />
                <div class="container homeDescription">
                    CrimeWatch allows you to explore the current and future criminality rates of your neighbourhood or greater area using interactive features and accurate prediction models.
                    @if (!Request.IsAuthenticated)
                    { 
                    <br /><br />
                    <p class="homeDescription"><a href="#" onclick="location.href='@Url.Action("Login", "Account")'">Log in</a> to get started.</p>
                    }
                </div>               
            </div>
        </div>
    </div>

    <div class="row infoCont" id="one">
        <div class="col-lg-6">
            <h2>What is CrimeWatch?</h2>
            <br />
            <h4>
                It is a web application that aims to provide in-depth information about criminality in the UK and Wales. To achieve that, CrimeWatch has adopted a list of interactive data presentation tools. These include: <br /><br /><b>- Interactive crime map<br />- Graphs and charts<br />- Statistic crime tables</b><br /><br /> CrimeWatch is also capable making estimations for future crime numbers. By implementing a <b>multiple linear regression model</b>, it can accurately forecast the number of total crimes and crimes by type for a selected region.
            </h4>
            <br /><br />
        </div>
        <div class="col-lg-6">
            <img id="img2" src="~/Content/Images/img1.png" class="homepageImage" />
            <br /><br />
            <form class="centeredText">
                <input name="field" type="radio" id="radioBtn4" class="radioBtn">
                <input name="field" type="radio" id="radioBtn5" class="radioBtn">
                <input name="field" type="radio" id="radioBtn6" class="radioBtn">
            </form>
        </div>
    </div>

    <div class="row infoCont" id="two">
        <div class="col-lg-6">
            <h2>How does it work ?</h2>
            <div style="overflow-y:scroll; height:280px">
                <h4>
                    <b>Data Source</b><br />Crimewatch is based on crime reports (Excel files) published by the UK Police on a monthly basis. The application loops through these files and extracts and stores all crime information. It afterwards manipulates them to the point they reveal useful information about criminality in an area.<br /><br /> <b>Maps and charts</b><br />Police data reveal the latitute and longitude attributes of each crime making it possible for CrimeWatch to visualise the exact location of a crime by using an interactive map. On the other hand, the charts present an aggregated view of the data reveiling criminaity figures for each of the regions in the UK and Wales.<br><br /><b>Machine Learning</b><br>CrimeWatch has the ability to forecast the total number of crimes that are going to occur in an area. To achieve that, the application implements a multiple linear regression model with itegration of the Statistical language R.
                </h4>
            </div>
            <br /><br />
        </div>
        <div class="col-lg-6">
            <img id="img3" src="~/Content/Images/map.png" class="homepageImage" />
            <br /><br />
            <form class="centeredText">
                <input name="field" type="radio" id="radioBtn7" class="radioBtn">
                <input name="field" type="radio" id="radioBtn8" class="radioBtn">
                <input name="field" type="radio" id="radioBtn9" class="radioBtn">
            </form>
        </div>
    </div>

    <div id='footer'>
        <br />
        <address>
            24A Guildford Park road<br />
            Guildford, United Kingdom, GU2 7ND<br />
            <strong>Tel:</strong> <a href="#">+44 7482868848</a><br />
            <strong>Email:</strong> <a href="mailto:support@crimewatch.com">Support@example.com</a><br />
        </address>
    </div>
</body>