@{
    ViewBag.Title = "Upload";
    Layout = "~/Views/Shared/_LayoutPortal.cshtml";
}
<br /><br /><br />
<button style="float:left" class="btn btn-warning" onclick="location.href='@Url.Action("MyPortal", "Home")'"> Back to Dashboard</button>
<div class="container" style="width:350px; margin-top:4%;">
    <h3 class="title">Select Excel File</h3>
    <br />
    <div class="container customCont">
        <br /><br />
        @using (Html.BeginForm("Upload", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            <input type="file" name="excelfile" />
            <br />
            <button type="submit" class="btn btn-primary"> Upload </button>
        }
        <br />
         @using (Html.BeginForm("UploadPoliceDepartments", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            <input type="file" name="excelfile" />
            <br />
            <button type="submit" class="btn btn-primary"> Upload PD</button>
        }
        <br />
    </div>
</div>


<style>
    input {
        height: 40px;
        font-size: 16px;
        color: black;
        font-weight: bold;
    }

    body {
        background: #f4f4f4;
    }
</style>
